<nav class="bg-white sticky top-0 z-50 shadow-sm border-b border-gray-200">
  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
    <div class="flex justify-between h-16">
      <!-- Logo -->
      <div class="flex">
        <div class="flex-shrink-0 flex items-center">
          <a routerLink="/employees" class="flex cursor-pointer items-center">
            <lucide-icon [img]="BriefcaseIcon" class="h-10 w-10 text-blue-500"></lucide-icon>
            <span class="ml-2 text-xl font-bold text-gray-900">EmployeeHub</span>
          </a>
        </div>
      </div>

      <!-- Desktop Menu -->
      @if (authService.isLoggedIn) {
      <div class="hidden sm:flex space-x-6 items-center">
        <span class="text-sm font-medium text-gray-700">{{ authService.currentUser?.firstName }}</span>
        <button class="flex gap-2 items-center cursor-pointer hover:bg-gray-200 px-2 py-1 rounded-md"
          (click)="logout()">
          <lucide-icon [img]="LogOutIcon" class="h-4 w-4"></lucide-icon>
          Logout
        </button>
      </div>
      }

      <!-- Mobile Menu Button -->
      <div class="flex items-center sm:hidden">
        <button (click)="toggleMenu()" class="text-gray-600 hover:text-blue-500 focus:outline-none">
          <svg *ngIf="!isMenuOpen" xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24"
            stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
          </svg>
          <svg *ngIf="isMenuOpen" xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24"
            stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
          </svg>
        </button>
      </div>
    </div>
  </div>

  <!-- Mobile Menu -->
  <div *ngIf="isMenuOpen" class="sm:hidden flex justify-between items-center px-4 pb-4">
    <span class="text-sm font-medium text-gray-700">{{ authService.currentUser?.firstName }}</span>
    <button class="flex gap-2 items-center cursor-pointer hover:bg-gray-200 px-2 py-1 rounded-md" (click)="logout()">
      <lucide-icon [img]="LogOutIcon" class="h-4 w-4"></lucide-icon>
      Logout
    </button>
  </div>
</nav>
