<app-header></app-header>

<div class="bg-gray-50">
  <app-employee-header header="Employees List"></app-employee-header>

  <div class="p-8">

    <app-card [hover]="false" class="p-4">
      <app-employee-filter [searchTerm]="searchTerm" [groupFilter]="groupFilter" [statusFilter]="statusFilter"
        (searchChange)="onSearchChange($event)" (groupChange)="onGroupChange($event)"
        (statusChange)="onStatusChange($event)" (clear)="clearFilter($event)">
      </app-employee-filter>
    </app-card>

    <div class="mt-5">
      <div class="mb-4 flex items-center justify-between">
        <h2 class="text-sm font-medium text-gray-600">
          {{itemsPerPage}} of {{employees.length}} employee{{employees.length !== 1 ? 's' : ''}} found
        </h2>

        <div class="inline-flex space-x-3">
          <app-select [options]="getSortingItems" [(model)]="sortBy" (change)="applyFilters()"></app-select>
          <app-select [options]="
          [
            { value: 'asc', label: 'Ascending' },
            { value: 'desc', label: 'Descending' },
          ]
          " [(model)]="sortOrder" (change)="applyFilters()"></app-select>
        </div>
      </div>

      @if (paginatedEmployees.length > 0) {
      <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-4">
        @for (employee of paginatedEmployees; track employee.id) {
        <app-employee-card [employee]="employee"></app-employee-card>
        }
      </div>

      <!-- pagination -->
      <app-employee-pagination [currentPage]="currentPage" [itemsPerPage]="itemsPerPage" [totalPages]="totalPages"
        (onChangePage)="changePage($event)" (onItemsPerPageChange)="onItemsPerPageChange()"></app-employee-pagination>

      }
      @else {
      <div class="bg-white rounded-lg shadow-sm border border-gray-100 p-8 text-center">
        <p class="text-gray-500">No employees found. Try adjusting your filters.</p>
      </div>
      }
    </div>
  </div>
</div>

<app-employee-delete (handleDelete)="handleDelete($event)" (handleCancel)="cancelDelete()"
  [employee]="employeeToDelete"></app-employee-delete>
