<div class="flex flex-col md:flex-row md:items-center md:justify-between space-y-4 md:space-y-0">
  <div class="w-full md:w-1/3">
    <label for="Search">
      <div class="relative">
        <input type="text" id="Search" placeholder="Search employees..."
          class="mt-0.5 w-full rounded border-gray-300 pe-10 shadow-sm sm:text-sm" [ngModel]="searchTerm"
          (ngModelChange)="searchChange.emit($event)" />
        <span class="absolute inset-y-0 right-2 grid w-8 place-content-center">
          <svg xmlns="http://www.w3.org/2000/svg" class="size-4" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
            stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round"
              d="m21 21-5.197-5.197m0 0A7.5 7.5 0 1 0 5.196 5.196a7.5 7.5 0 0 0 10.607 10.607Z" />
          </svg>
        </span>
      </div>
    </label>
  </div>

  <div class="flex sm:flex-row flex-col items-center justify-end gap-3">
    <div class="relative inline-block w-full">
      <app-select [options]="getGroupOptions" [model]="groupFilter" (modelChange)="groupChange.emit($event)">
      </app-select>
    </div>

    <div class="relative inline-block w-full">
      <app-select [options]="getStatusFilter" [model]="statusFilter" (modelChange)="statusChange.emit($event)">
      </app-select>
    </div>

    <a routerLink="/employees/new" class="w-full">
      <app-button [icon]="UserRoundPlus" class="w-full md:w-max" variant="primary">
        Add Employee
      </app-button>
    </a>
  </div>
</div>

<div class="mt-4 flex items-center flex-wrap gap-2" *ngIf="groupFilter || statusFilter">
  @if(groupFilter){
  <app-badge [text]="groupFilter" idx="group" variant="warning" (onRemove)="clear.emit('group')"></app-badge>
  }
  @if(statusFilter){
  <app-badge [text]="statusFilter" idx="status" variant="success" (onRemove)="clear.emit('status')"></app-badge>
  }

  <app-button (click)="clear.emit('all')" *ngIf="groupFilter || statusFilter" class="w-full md:w-max" variant="ghost">
    Clear all
  </app-button>
</div>
