<app-header></app-header>

<div class="bg-gray-50">
  <app-employee-header [header]="isEditMode ? 'Edit Employee' : 'Add New Employee'"></app-employee-header>

  <div class="p-8">
    <app-employee-back-button text="Back to List"></app-employee-back-button>

    <div class="bg-white p-3 rounded-lg shadow-sm border border-gray-100
        overflow-hidden">
      <div class="flex items-center justify-between px-6 py-4 border-b border-gray-100">
        <h2 class="text-xl font-semibold text-gray-900">
          {{ isEditMode ? 'Edit Employee Details' : 'Add New Employee Details' }}
        </h2>
      </div>
      <form [formGroup]="employeeForm" (ngSubmit)="onSubmit()">
        <div class="grid grid-cols-1 md:grid-cols-2 gap-6 p-4">
          <div class="">
            <h3 class="text-lg font-medium text-gray-900 mb-4">Personal Details</h3>

            <app-form-input formControlName="firstName" label="First Name" placeholder="Enter your first name"
              type="text"
              [errorMessage]="isFieldInvalid('firstName') ? 'First name is required' : null"></app-form-input>

            <app-form-input formControlName="lastName" label="Last Name" placeholder="Enter your last name" type="text"
              [errorMessage]="isFieldInvalid('lastName') ? 'Last name is required' : null"></app-form-input>

            <app-form-input type="email" formControlName="email" label="Email"
              placeholder="Enter your email"></app-form-input>
            @if (isFieldInvalid('email')) {
            <div class="text-sm text-red-600 mt-1">
              @if (employeeForm.get('email')?.hasError('required')) {
              Email is required
              } @else if (employeeForm.get('email')?.hasError('email')) {
              Please enter a valid email address
              }
            </div>
            }

            <app-form-input formControlName="profileImage" label="Profile Image"
              placeholder="https://example.com/image.jpg" type="text"
              [errorMessage]="isFieldInvalid('profileImage') ? 'Profile Image is required' : null"></app-form-input>

            <app-form-input formControlName="description" label="Description" [isTextarea]="true"
              [errorMessage]="isFieldInvalid('description') ? 'Description is required' : null"></app-form-input>

          </div>

          <!-- Employment Information Section -->
          <div class="">
            <h3 class="text-lg font-medium text-gray-900 mb-[18px]">Employment Information</h3>

            <app-form-input formControlName="group" label="Group" type="select" placeholder="Select Group"
              [options]="groups" optionLabel="name" optionValue="name"
              [errorMessage]="isFieldInvalid('group') ? 'Group is required' : null"
              (change)="onGroupChange()"></app-form-input>

            <app-form-input formControlName="position" label="Position" type="select" placeholder="Select Position"
              [options]="availablePositions" optionLabel="title" optionValue="title"
              [errorMessage]="isFieldInvalid('position') ? 'Position is required' : null"></app-form-input>

            <app-form-input formControlName="birthDate" label="Birth Date" placeholder="Enter your birth date"
              type="date"
              [errorMessage]="isFieldInvalid('birthDate') ? 'Birth Date is required' : null"></app-form-input>

            <app-form-input formControlName="basicSalary" label="Salary" placeholder="Enter basic salary"
              type="number"></app-form-input>
            @if (isFieldInvalid('basicSalary')) {
            <div class="text-sm text-red-600 mt-1">
              @if (employeeForm.get('basicSalary')?.hasError('required')) {
              Salary is required
              } @else if (employeeForm.get('basicSalary')?.hasError('min')) {
              Salary must be greater than or equal to 0
              }
            </div>
            }

            <app-form-input formControlName="status" label="Status" type="select" placeholder="Select Status"
              [options]="status" optionLabel="label" optionValue="value"
              [errorMessage]="isFieldInvalid('status') ? 'Status is required' : null"></app-form-input>
          </div>

          <div class="flex gap-2">
            <app-button type="button" routerLink="/employees">Cancel</app-button>
            <app-button type="submit" variant="primary" [disabled]="employeeForm.invalid || loading">@if (loading) {
              <span>Saving...</span>
              } @else {
              <span>{{ isEditMode ? 'Update Employee' : 'Create Employee' }}</span>
              }</app-button>
          </div>
        </div>

      </form>
    </div>
  </div>
</div>
